[submodule "external/libbase58"]
	path = external/libbase58
	url = git@github.com:bitcoin/libbase58.git
[submodule "external/sss"]
	path = external/sss
	url = git@github.com:dsprenkels/sss.git
[submodule "external/secp256k1"]
	path = external/secp256k1
	url = git@github.com:bitcoin-core/secp256k1.git
